 
.casilla{

    width:120px;
    height: 120px;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    font-style: oblique;
    border-block-start-color: aquamarine;
    background-color: rgb(132, 223, 223);


}

#tablero{

    width: 40%;
    margin: 0 auto;   
    text-align: center;
    font-weight: bold; 
    font-style: oblique;
    border-block-start-color: rgb(206, 255, 127);
    
    

}
#marco{
    background-color: red;
}
.division{
    margin: -15px 110px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
